spring:
  application:
    name: massage-booking-api

  datasource:
    url: jdbc:mysql://localhost:3306/massage_booking_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: ITacademy2026
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        use_sql_comments: true
    open-in-view: false

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=500,expireAfterWrite=3600s

server:
  port: 8080
  servlet:
    context-path: /api
  error:
    include-message: always
    include-binding-errors: always

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: when-authorized

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    config-url: /api/v3/api-docs/swagger-config
    url: /api/v3/api-docs

logging:
  level:
    root: INFO
    com.massage.booking: DEBUG
    org.springframework.web: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
  file:
    name: logs/massage-booking-api.log

jwt:
  secret: T0k4m3M4ss4g3S3cr3tK3y2026!XyZ#mNpQrStUvWxAbCdEfGhIjKlMnOpQrStUv
  expiration: 86400000

booking:
  advance-hours: 2
  cancellation-hours: 12
  cleanup-minutes: 10

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql